<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<div class="ui segments" th:fragment="CasDeTests-NouveauCas">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Nouveau cas de test 	
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	<div class="ui sixteen wide column  grid" >
								<div class="ui sixteen wide column">
									<form class="ui form form1" th:action="@{/AjouterCasDeTest/{pathParam}(pathParam=${scenarioParent.id})}" method="post" th:object="${nouveauCasDeTest}">
									  <div class="two fields">
										  <div class="field">
										    <label>Titre du cas de test </label>
										    <input type="text" th:field="*{titre}" placeholder="Titre du cas de test" name="titre">
										  </div>
										  <div class="field">
										    <label>Description du cas de test </label>
										    <input type="text" th:field="*{description}" placeholder="Description du cas de test" name="description">
										  </div>
									  </div>
									  <div class="two fields">
										   <div class="field">
										    <label>Type du cas de test </label>
										    <select class="ui search dropdown" th:field="*{typeTest}" id="typeTest" >
											  <option  th:each="typeTest : ${listetypeTest}" th:value="${typeTest.id}" th:text="${typeTest.type}"></option>
											</select>	
										  </div>
										  <div class="field">
										    <label>Priorité du cas de test </label>
										    <select class="ui search dropdown" th:field="*{priorite}" id="priorite" >
											  <option  th:each="priorite : ${listePriorite}" th:value="${priorite}" th:text="${priorite}"></option>
											</select>
										  </div>
									  </div>
									  <div class="two fields">
									  	<div class="field">
										   <label>Préconditions</label>
										    <textarea type="text" th:field="*{precondition}" placeholder="Préconditions" name="precondition"></textarea>
										  </div>
										<div class="field">
										  <label>Jeu de test</label>
										    <textarea type="text" th:field="*{jeuDeTest}" placeholder="jeu de test" name="jeuDeTest"></textarea>
										</div>
									  </div>
									  <div class="field">
									    <label>Etapes </label>
									    <textarea class="tinymce" rows="10" type="text" th:field="*{etapes}" placeholder="Etapes" > </textarea>
									  </div>
									  <div class="two fields">
										  <div class="field">
										    <label>Résultat attendu </label>
										    <input type="text" th:field="*{resultatAttendu}" placeholder="Résultat attendu " name="resultatAttendu">
										  </div>
										  <div class="field">
										    <label>Remarques</label>
										    <input type="text" th:field="*{remarques}" placeholder="Remarques" >
										  </div> 
										  
									  </div>
									  
									  <button class="ui primary button" type="submit">Confirmer</button>
									   <div class="ui error message"></div>
									</form>
								</div>
							</div>
                         </div>
                     </div>