<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="ui segments" th:fragment="Projet-Statistiques">
    <div class="ui segment">
        <h5 class="ui header">
            Informations générales
        </h5>
    </div>
    <div class="ui segment">
 			<h4 class="ui horizontal divider header">
           <i class="tag icon"></i>
           Modifier le projet courant
       		</h4>
            <form class="ui form segment form1" th:action="@{/EnregistrerProjet/{pathParam}(pathParam=${projetParent.id})}" method="post" th:object="${projetParent}">
                <div class="two fields">
                    <div class="field">
                        <label>Titre du projet</label>
                        <input th:field="*{nom}"  name="nom" type="text">
                    </div>
                    <div class="field">
						<label>Description du projet</label>
						<input type="text" th:field="*{description}" placeholder="Description du projet">
					</div>
                </div>
                <div class="ui blue submit button">Enregistrer</div>
                <div class="ui error message"></div>
            </form>
	        <h4 class="ui horizontal divider header">
	            <i class="bar chart icon"></i>
	            Statistiques
	        </h4>
		</div>
        
    </div>