<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<div class="ui segments" th:fragment="Execution-Details">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Détails du cas de test 	
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	<div class="ui sixteen wide column  grid" >
								<div class="ui sixteen wide column">
									<form class="ui form form1" th:object="${casTestCourant}">
									  <div class="two fields">
										  <div class="field">
										    <label>Description du cas de test </label>
										    <input disabled type="text" th:field="*{description}" placeholder="Description du cas de test" name="description">
										  </div>
										  <div class="field">
										    <label>Type du cas de test </label>
										    <select disabled class="ui search dropdown" th:field="*{typeTest.type}" id="typeTest" >
											  <option  th:each="typeTest : ${listetypeTest}" th:value="${typeTest.type}" th:text="${typeTest.type}"></option>
											</select>
										  </div>
									  </div>
									  <div class="two fields">
										  <div class="field">
										    <label>Préconditions</label>
										    <input disabled type="text" th:field="*{precondition}" placeholder="Préconditions" name="precondition">
										  </div>
										  <div class="field">
										    <label>Priorité du cas de test </label>
										    <select disabled class="ui search dropdown" th:field="*{priorite}" id="priorite" >
											  <option   th:each="priorite : ${listePriorite}" th:value="${priorite}" th:text="${priorite}"></option>
											</select>
										  </div>
										  
									  </div>
									  <div class="field">
									    <label>Etapes </label>
									    <textarea rows="5" class="tinymce" type="text" th:field="*{etapes}" placeholder="Etapes" name="etapes"> </textarea>
									  </div>
									  <div class="field">
										  <label>Jeu de test</label>
										    <textarea rows="5" class="tinymce" disabled type="text" th:field="*{jeuDeTest}" placeholder="jeu de test" name="jeuDeTest"></textarea>
										</div>	
									  <div class="two fields">
										  <div class="field">
										    <label>Résultat attendu </label>
										    <input disabled type="text" th:field="*{resultatAttendu}" placeholder="Résultat attendu " name="resultatAttendu">
										  </div>
										  <div class="field">
										    <label>Remarques</label>
										    <input disabled type="text" th:field="*{remarques}" placeholder="Remarques" >
										  </div> 
										  
									  </div>
									</form>
								</div>
							</div>
                         </div>
                     </div>