<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<div class="ui segments" th:fragment="Execution-AjouterResultat">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Executer le cas de test 	
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	<div class="ui sixteen wide column  grid" >
								<div class="ui sixteen wide column">
									<form class="ui form form1" th:action="@{/AjouterResultat/{pathParam}(pathParam=${casTestCourant.id})}" method="post" th:object="${nouvelleExecution}">
									  <div class="field">
										  <div class="field">
										    <label>Résultat obtenu</label>
										    <input type="text" th:field="*{resultatObtenu}" placeholder="Resultat actuel du cas de test" name="resultatActuel">
										  </div>
										  <div class="field">
										    <label>Commentaires </label>
										    <textarea rows="3" type="text" th:field="*{commentaire}" placeholder="Commentaires" name="commentaire"> </textarea>
										  </div>
										  <div class="field">
										    <label>Status </label>
										    <select class="ui search dropdown" th:field="*{status}" id="statut" >
											  <option  th:each="statut : ${listeStatut}" th:value="${statut}" th:text="${statut}"></option>
											</select>
										  </div>
									  </div>
									  
									  <button class="ui  yellow button " type="submit">Enregistrer </button>
									  <div class="ui error message"></div>
									  
									</form>
								</div>
							</div>
                         </div>
                     </div>