<div class="ui segments" th:fragment="Scenarios-Statistiques">
                         <div class="ui segment">
                             <h5 class="ui header">
                             	
                                 Statistiques....
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	<div class="ui " >
								Statistiques....
							</div>
                         </div>
                     </div>