<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<div class="ui huge breadcrumb" th:fragment="Scenarios-Breadcrumbs">
                       <a th:href="@{/Projets}" class="section">Mes projets</a>
                       <i class="right angle icon divider"></i>
                       <a th:href="@{/CampagnesDeTest}" class="section"><span >Toutes les campagnes de test</span></a>
                       <i class="right angle icon divider"></i>
                       <div class="active section" ><a th:href="@{/Scenarios}"><span style="color:black;">Tout les scénarios de test</span></a></div>
				</div>