<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<div class="ui segments" th:fragment="Scenarios-MesCasDeTest">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Mes Cas de test
                             </h5>
                         </div>
                         <div class="ui segment">
                             <table id="data_table" class="ui compact selectable striped celled table tablet stackable" cellspacing="0" width="100%">
                                 <thead>
                                     <tr>
                                         <th>ID</th>
                                         <th>Titre</th>
                                         <th>Description du cas de test</th>
                                         <th>Type du cas de test</th>
                                         <th>Priorité</th>
                                         <th>Préconditions</th>
                                         <th>Résultat attendu</th>
                                         <th>Résultat actuel</th>
                                         <th>Remarques</th>
                                         <th>Etapes</th>
                                         <th>Scenario parent</th>
                                     </tr>
                                 </thead>
                                 
                                 <tbody>
                                 	 <tr th:each="casTest : ${listeCasTest}" 
									style="cursor: pointer"
     								th:onclick="'javascript:rowClicked(\'' + ${casTest.id} + '\', \'SelectedCasTest\');'">
										<td th:text="${casTest.id}"></td>
										<td th:text="${casTest.titre}"></td>
										<td th:text="${casTest.description}"> </td>
										<td th:text="${casTest.typeTest.type}"> </td>
										<td th:text="${casTest.priorite}"> </td>
										<td th:text="${casTest.precondition}"> </td>
										<td th:text="${casTest.resultatAttendu}"> </td>
										<td th:text="${casTest.resultatActuel}"> </td>
										<td th:text="${casTest.remarques}"> </td>
										<td th:text="${casTest.etapes}"> </td>
										<td th:text="${casTest.scenarioParent.nom}"> </td>
									</tr>
								</tbody>
                             </table>
                         </div>
                     </div>