<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<div class="navslide navwrap" th:fragment="NavigationBar">
    <div class="ui menu icon borderless grid" data-color="inverted white">
        <a class="item labeled openbtn">
        	<i class="ion-navicon-round big icon"></i>
        </a>
        <div class="right menu colhidden">
            <div class="ui dropdown item">
                <img class="ui mini circular image" src="../static/img/Abraham.png" th:src="@{/img/Abraham.png}" alt="label-image" />
            </div>
            <div class="item labeled rightsidebar computer only">
            	<form th:action="@{/logout}" method="post">
			    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			    <button class="ui labeled icon button" style=" margin-top: 10px;">
				  <i class="sign out icon"></i>
				  Déconnexion
				</button>
				</form>
            </div>
        </div>
    </div>
</div>