<div class="navslide navwrap" th:fragment="NavigationBar">
    <div class="ui menu icon borderless grid" data-color="inverted white">
        <div class="item ui colhidden">
            Search ?
        </div>
        <div class="item ui colhidden">
            Notification ? 
        </div>
        <div class="item ui colhidden">
            Refaire le meme menu ?
        </div>
        <div class="right menu colhidden">
            <div class="ui dropdown item">
                <img class="ui mini circular image" src="../static/img/Abraham.png" th:src="@{/img/Abraham.png}" alt="label-image" />
                <div class="menu">
                    <a class="item" href="mail.html">Inbox</a>
                    <a class="item" href="profile.html">Profile</a>
                    <a class="item" href="settings.html">Settings</a>
                    <div class="ui divider"></div>
                    <a class="item">Need Help?</a>
                    <a class="item" href="login.html">Sign Out</a>
                </div>
            </div>
            <a class="item labeled rightsidebar computer only">
                <i class="ion-wrench large icon"></i>
            </a>
        </div>
    </div>
</div>