 <div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  grey" style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey" th:fragment="SideBar">
	<a class="item logo">
	    <img src="../static/img/logo.png" th:src="@{/img/logo.png}" alt="stagblogo" />
	</a>
	<div class="ui divider"></div>
	<a class="item">
    	<i class="ion-speedometer icon"></i> <span class="colhidden">Tableau de bord</span>
	</a>
	<div class="ui divider"></div>
    <a class="item" th:href="@{/MesProjets}">
        <i class="ion-code icon"  ></i> <span class="colhidden">Projets</span>
    </a>
    <div class="ui divider"></div>
    <a class="item" th:href="@{/MesCampagnesDeTest}">
        <i class="ion-code icon"></i> <span class="colhidden">Campagnes de test</span>
    </a>
    <div class="ui divider"></div>
    <a class="item" th:href="@{/MesScenarioDeTest}">
        <i class="ion-code icon"></i> <span class="colhidden">Cas de test</span>
    </a>
    <div class="ui divider"></div>
    <a class="item">
        <i class="ion-code icon"></i> <span class="colhidden">Executer un test</span>
    </a>
    <div class="ui divider"></div>
    <a class="item">
        <i class="ion-code icon"></i> <span class="colhidden">Rapports</span>
    </a>
    
   	<div class="ui divider"></div>
</div>

       