<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
<link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}" />
<link href="../static/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}"  rel="stylesheet" />
<link href="../static/css/main.css" th:href="@{/css/main.css}"  rel="stylesheet" />
<head>
<meta charset="ISO-8859-1">
<title>Mes campagnes de test</title>
</head>

<body>
  <div th:replace="fragments/SideBar :: SideBar"></div>
  <div th:replace="fragments/NavigationBare :: NavigationBar"></div>
  
  <div class="">
	<div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="sixteen wide column">
                     <div class="ui segments">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Mes Campagnes de test
                             </h5>
                         </div>
                         <div class="ui segment">
                             <table id="data_table" class="ui compact selectable striped celled table tablet stackable" cellspacing="0" width="100%">
                                 <thead>
                                     <tr>
                                         <th>ID</th>
                                         <th>Titre de la campagne de test</th>
                                         <th>Description</th>
                                         <th>Projet Parent</th>
                                     </tr>
                                 </thead>
                                 
                                 <tbody>
                                 
									<tr th:each="campagne : ${listeCampagnes}"
									style="cursor: pointer"
     								th:onclick="'javascript:rowClicked(\'' + ${campagne.id} + '\', \'CampagneDeTest\');'">
										<td th:text="${campagne.id}"></td>
										<td th:text="${campagne.nom}"> </td>
										<td th:text="${campagne.description}"> </td>
										<td th:text="${campagne.projetParent.nom}"></td>
									</tr>
								</tbody>
                             </table>
                         </div>
                         <div class="ui segment">
                         </div>
                     </div>
                 </div>
             </div>
		</div>
   </div>
  </div>
  <div class="">
	<div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="eight wide column">
                     <div class="ui segments">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Nouvelle campagne de test	
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	<div class="ui sixteen wide column  grid" >
								<div class="ui ten wide column">
									<form class="ui form" th:action="@{/AjouterCampagneDeTest}" method="post" th:object="${nouvelleCampagne}">
									  <div class="field">
									    <label>Titre de la campagne </label>
									    <input type="text" th:field="*{nom}" placeholder="Titre de la campagne de test">
									  </div>
									  <div class="field">
									    <label>Description de la campagne de test</label>
									    <input type="text" th:field="*{description}" placeholder="Description du projet">
									  </div>
									  <div class="field">
									    <label>Projet parent</label>
									    <select class="ui search dropdown" th:field="*{projetParent}" id="projetParent" >
											  <option  th:each="projet : ${listeProjets}" th:value="${projet.id}" th:text="${projet.nom}"></option>
										</select>
									  </div>
									  <button class="ui primary button" type="submit">Confirmer</button>
									  <button class="ui button">Annuler</button>
									</form>
								</div>
							</div>
                         </div>
                     </div>
                 </div>
                 <div class="eight wide column">
                     <div class="ui segments">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Statistiques....
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	Statistiques ....
                         </div>
                     </div>
                 </div>	
             </div>
		</div>
   </div>
  </div>
  

<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script src="../static/js/moreJSfunctions.js" th:src="@{/js/moreJSfunctions.js}"></script>
<script src="../static/js/jquery.dataTables.js" th:src="@{/js/jquery.dataTables.js}"></script>
<script src="../static/js/custom-datatable.js" th:src="@{/js/custom-datatable.js}"></script>
</body>



</html>