<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
<link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}" />
<link href="../static/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}"  rel="stylesheet" />
<link href="../static/css/main.css" th:href="@{/css/main.css}"  rel="stylesheet" />
<head>
<meta charset="ISO-8859-1">
<title>Mes Projets</title>
</head>

<body>
  <div th:replace="fragments/SideBar :: SideBar"></div>
  <div th:replace="fragments/NavigationBare :: NavigationBar"></div>
  
  <div class="">
	<div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="sixteen wide column">
                     <div class="ui segments">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Mes Scenarios de test
                             </h5>
                         </div>
                         <div class="ui segment">
                             <table id="data_table" class="ui compact selectable striped celled table tablet stackable" cellspacing="0" width="100%">
                                 <thead>
                                     <tr>
                                         <th>ID</th>
                                         <th>Titre du scenario</th>
                                         <th>Description</th>
                                         <th>Campagne de test Parente</th>
                                     </tr>
                                 </thead>
                                 
                                 <tbody>
                                 
									<tr th:each="scenario : ${listeScenarios}">
										<td th:text="${scenario.id}"></td>
										<td th:text="${scenario.nom}"> </td>
										<td th:text="${scenario.description}"> </td>
										<td th:text="${scenario.campagneParent.nom}"></td>
									</tr>
								</tbody>
                             </table>
                         </div>
                         <div class="ui segment">
                         </div>
                     </div>
                 </div>
             </div>
		</div>
   </div>
  </div>
  <div class="">
	<div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="eight wide column">
                     <div class="ui segments">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Nouveau scenario de test	
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	<div class="ui sixteen wide column  grid" >
								<div class="ui ten wide column">
									<form class="ui form" th:action="@{AjouterScenarioDeTest}" method="post" th:object="${nouveauScenario}">
									  <div class="field">
									    <label>Titre du scenario de test </label>
									    <input type="text" th:field="*{nom}" placeholder="Titre du scenario de test">
									  </div>
									  <div class="field">
									    <label>Description du scenario de test</label>
									    <input type="text" th:field="*{description}" placeholder="Description du scenario de test">
									  </div>
									  <div class="field">
									    <label>Campagne de test parente</label>
									    <select class="ui search dropdown" th:field="*{campagneParent}" id="campagneParent" >
											  <option  th:each="campagne : ${listeCampagnes}" th:value="${campagne.id}" th:text="${campagne.nom}"></option>
										</select>
									  </div>
									  <button class="ui primary button" type="submit">Confirmer</button>
									  <button class="ui button">Annuler</button>
									</form>
								</div>
							</div>
                         </div>
                     </div>
                 </div>
                 <div class="eight wide column">
                     <div class="ui segments">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Informations sur le scenario de test
                             </h5>
                         </div>
                         <div class="ui segment"> 
                         	<div class="ui " >
								<div class="ui cards centered grid">
								  <div class="card">
								    <div class="content">
								      <div class="header" > <p th:text="${scenarioSelectionnee.nom}"></p></div>
								      <div class="description">
								        <p th:text="${scenarioSelectionnee.description}"><p>
								      </div>
								    </div>
								    <div class="ui bottom attached button">
								      <i class="add icon"></i>
								      Ajouter un cas de test
								    </div>
								  </div>
							</div>
							</div>
                         </div>
                     </div>
                 </div>	
             </div>
		</div>
   </div>
  </div>
  

<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script src="../static/js/moreJSfunctions.js" th:src="@{/js/moreJSfunctions.js}"></script>
<script src="../static/js/jquery.dataTables.js" th:src="@{/js/jquery.dataTables.js}"></script>
<script src="../static/js/custom-datatable.js" th:src="@{/js/custom-datatable.js}"></script>
</body>



</html>