<!DOCTYPE html>
 <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
<link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}" />
<link href="../static/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}"  rel="stylesheet" />
<link href="../static/css/main.css" th:href="@{/css/main.css}"  rel="stylesheet" />
<head>
<meta charset="ISO-8859-1">
<title>Tableau de bord</title>
</head>

<body>
  <div th:replace="fragments/SideBar :: SideBar"></div>
  <div th:replace="fragments/NavigationBare :: NavigationBar"></div>
  <div class=" navslide">
	  <div class="ui equal width left aligned padded grid stackable">
			<div class="row">
				<div class="four wide column">
					<div class="ui segment left aligned">
	                    <div class="ui  statistic">
	                        <div class="value counter">3,952</div>
	                        <div class="label">
	                            Projets
	                        </div>
	                        <i class="icon ion-ios-folder teal statisticIcon"></i>
	                    </div>
	                    
	                </div>
				</div>
				<div class="four wide column">
					<div class="ui segment left aligned">
	                    <div class="ui  statistic">
	                        <div class="value counter">3,952</div>
	                        <div class="label">
	                            Campagnes de test
	                        </div>
	                        <i class="icon ion-ios-paper teal statisticIcon"></i>
	                    </div>
	                </div>
				</div>
				<div class="four wide column">
					<div class="ui segment left aligned">
	                    <div class="ui  statistic">
	                        <div class="value counter">3,952</div>
	                        <div class="label">
	                            Scénarios de test
	                        </div>
	                        <i class="icon ion-ios-film teal statisticIcon"></i>
	                    </div>
					 </div>
				</div>
				<div class="four wide column">
					<div class="ui segment left aligned">
	                    <div class="ui  statistic">
	                        <div class="value counter">3,952</div>
	                        <div class="label">
	                            Cas de test
	                        </div>
	                        <i class="icon ion-ios-copy teal statisticIcon"></i>
	                    </div>
					 </div>
				</div>
        	</div>
        </div>
	</div>

  <div class="">
	<div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="eight wide column">
                 	<div class="ui segments" >
					    <div class="ui segment">
					        <h4 class="ui horizontal divider header">
					            <i class="bar chart icon"> </i>
					            Statistiques sur les cas de test	
					        </h4>
					        <div class="row centered">
								<div class="fourteen wide column">
					        		<div id="columnchart_material" style="width: 600px; height: 300px;"></div>
								</div>
					   		</div>
					    </div>
					</div>
                 </div>
                 <div class="eight wide column">
                 	<div class="ui segments" >
					    <div class="ui segment">
					        <h4 class="ui horizontal divider header">
					            <i class="bar chart icon"> </i>
					            Statistiques sur l'exécution des cas de test	
					        </h4>
					        <div class="row centered">
								<div class="fourteen wide column">
					        		<div class="ui teal progress" id="progressBareExecute">
  										<div class="bar"></div>
									  <div class="label">22% des cas de test ont été exécuté</div>
									</div>
									<div class="ui green progress" id="progressBareReussi">
  										<div class="bar"></div>
									  <div class="label">33% des cas de test ont réussi</div>
									</div>
									<div class="ui red progress" id="progressBareEchoue">
  										<div class="bar"></div>
									  <div class="label">44% des cas de test ont échoué</div>
									</div>
									<div class="ui yellow  progress" id="progressBareBloque">
  										<div class="bar"></div>
									  <div class="label">55% des cas de test sont bloqué</div>
									</div>
								</div>
					   		</div>
					    </div>
					</div>
					<div class="ui segments" >
					    <div class="ui segment">
					        <h4 class="ui horizontal divider header">
					            <i class="bar chart icon"> </i>
					            Derniers cas de test ajoutés	
					        </h4>
					        <div class="row centered">
								<div class="fourteen wide column">
					        		<table class="ui celled table">
		                                 <thead>
		                                     <tr>
		                                         <th>Titre</th>
		                                         <th>Description du cas de test</th>
		                                         <th>Priorité</th>
		                                         <th>Date de création</th>
		                                     </tr>
		                                 </thead>
		                                 
		                                 <tbody>
		                                 	<tr>
												<td > Cas de test 1</td>
												<td > Description</td>
												<td > Haute</td>
												<td > 09-08-2017 10:30:51</td>
											</tr>
											<tr>
												<td > Cas de test 1</td>
												<td > Description</td>
												<td > Haute</td>
												<td > 09-08-2017 10:30:51</td>
											</tr>
											<tr>
												<td > Cas de test 1</td>
												<td > Description</td>
												<td > Haute</td>
												<td > 09-08-2017 10:30:51</td>
											</tr>
										</tbody>
		                             </table>
								</div>
					   		</div>
					    </div>
					</div>
                 </div>
                 
             </div>
		</div>
   </div>
  </div>
  <div class="">
	<div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="eight wide column">
					
                 </div>
                 <div class="eight wide column">

                 </div>	
             </div>
		</div>
   </div>
  </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
	// Load google charts
	google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Projet', 'Réussi', 'Echoué', 'Bloqué'],
          ['2014', 1000, 400, 200],
          ['2015', 1170, 460, 250],
          ['2017', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Nombre de cas de test par status',
            subtitle: 'Réussis, échoué, bloqué',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
        
        //
        $('#progressBareExecute').progress({
        	  percent: 22
        	});
        $('#progressBareReussi').progress({
      	  percent: 33
      	});
        $('#progressBareEchoue').progress({
      	  percent: 44
      	});
        $('#progressBareBloque').progress({
      	  percent: 55
      	});
	}
	/*]]>*/
</script>

<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script src="../static/js/moreJSfunctions.js" th:src="@{/js/moreJSfunctions.js}"></script>
<script src="../static/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<script src="../static/js/custom-validation.js" th:src="@{/js/custom-validation.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
</body>



</html>