<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
<link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}" />
<link href="../static/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}"  rel="stylesheet" />
<link href="../static/css/main.css" th:href="@{/css/main.css}"  rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <head>
    <title>Please Login</title>
  </head>
  <body>
    <div class="ui container" style="padding-top:12%">
        <div class="ui grid center aligned">
            <div class="row">
                <div class="sixteen wide tablet six wide computer column">
                    <div class="ui left aligned segment">
                        <div id="form1" class="ui form">
						<form name="f" th:action="@{/login}" method="post">
	                            <h1 class="ui header center aligned">
								<p>Authentification</p>
	                            </h1>
	                            <div class="field">
	                                <label>Email:</label>
	                                <div class="ui fluid icon input">
	                                    <input id="username" name="username" type="email" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;">
	                                    <i class="icon mail outline"></i>
	                                </div>
	                            </div>
	                            <div class="field">
	                                <label>Mot de passe:</label>
	                                <div class="ui fluid icon input">
	                                    <input id="password" name="password" type="password" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;">
	                                    <i class="icon key"></i>
	                                </div>
	                            </div>
	                            <div class="field">
	                                <div class="form-actions">
	                                	<center><button class="ui primary button" type="submit">Connexion</button></center>
					                </div>
									<div th:if="${param.error}" class="alert alert-error">    
					                    <center>Combinaison email / mot de passe incorrecte !</center>
					                </div>
	                            </div>
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script src="../static/js/custom-validation.js" th:src="@{/js/custom-validation.js}"></script>

    <script>
        var colors = ["#0077cc"];
        var rand = Math.floor(Math.random() * colors.length);
        $('body').css("background-color", colors[rand]);
    </script>
  </body>
</html>