<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<link rel="icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" />
<link rel="stylesheet" type="text/css" href="../static/css/semantic.css" th:href="@{/css/semantic.css}" />
<link href="../static/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}"  rel="stylesheet" />
<link href="../static/css/main.css" th:href="@{/css/main.css}"  rel="stylesheet" />

<head>
<meta charset="ISO-8859-1">
<title>Cas de test - Détails</title>
</head>

<body>
  <div th:replace="fragments/SideBar :: SideBar"></div>
  <div th:replace="fragments/NavigationBare :: NavigationBar"></div>
  
<div class=" navslide">
	<div class="ui equal width left aligned padded grid stackable">
		<div class="row">
			<div class="eight wide column">
				 <div th:replace="fragments/CasDeTests/CasDeTests-Breadcrumbs :: CasDeTests-Breadcrumbs"></div>
			</div>
        	</div>
    	</div>
</div>
   <div class="">
    <div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="eight wide column">
                     <div th:replace="fragments/CasDeTests/CasDeTests-NouveauCas :: CasDeTests-NouveauCas"></div>
                 </div>
				 <div class="eight wide column">
                      <div th:replace="fragments/CasDeTests/CasDeTests-Statistiques :: CasDeTests-Statistiques"></div>
                 </div>
             </div>
		</div>
   </div>
   <div class="mainWrap navslide">
          <div class="ui equal width left aligned padded grid stackable">
             <div class="row">
                 <div class="sixteen wide column">
                     <div th:replace="fragments/CasDeTests/CasDeTests-MesCas :: CasDeTests-MesCas"></div>
                 </div>
             </div>
		</div>
   </div>
  </div>

<script src="../static/js/jquery-2.1.4.min.js" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script src="../static/js/moreJSfunctions.js" th:src="@{/js/moreJSfunctions.js}"></script>
<script src="../static/js/jquery.dataTables.js" th:src="@{/js/jquery.dataTables.js}"></script>
<script src="../static/js/custom-datatable.js" th:src="@{/js/custom-datatable.js}"></script>
<script src="../static/js/semantic.js" th:src="@{/js/semantic.js}"></script>
<script src="../static/js/custom-validation.js" th:src="@{/js/custom-validation.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="../static/plugin/tinymce/tinymce.min.js" th:src="@{/plugin/tinymce/tinymce.min.js}"></script>
<script src="../static/plugin/tinymce/tinymce-init.js" th:src="@{/plugin/tinymce/tinymce-init.js}"></script>
</body>



</html>