                     <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
                     <div class="ui segments" th:fragment="Projets-MesProjets">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Mes Projets
                             </h5>
                         </div>
                         <div class="ui segment">
                             <table id="data_table" class="ui compact selectable striped celled table tablet stackable" cellspacing="0" width="100%">
                                 <thead>
                                     <tr>
                                         <th>ID</th>
                                         <th>Titre du projet</th>
                                         <th>Description du projet</th>
                                         <th>Date de création</th>
                                     </tr>
                                 </thead>
                                 <tbody>
									<tr th:each="projet : ${listeProjets}" 
									style="cursor: pointer"
     								th:onclick="'javascript:rowClicked(\'' + ${projet.id} + '\', \'Projet\');'">
										<td th:text="${projet.id}"></td>
										<td th:text="${projet.nom}"> </td>
										<td th:text="${projet.description}"> </td>
										<td th:text="${projet.dateCreation}"> </td>
									</tr>
								</tbody>
                             </table>
                         </div>
                     </div>