 <meta http-equiv="Content-Type" content="text/html;charset=utf8" />
<div class="ui segments" th:fragment="GestionUtilisateurs-ToutLesUtilisateurs">
                         <div class="ui segment">
                             <h5 class="ui header">
                                 Tout les utilisateurs
                             </h5>
                         </div>
                         <div class="ui segment">
                             <table id="data_table" class="ui compact selectable striped celled table tablet stackable" cellspacing="0" width="100%">
                                 <thead>
                                     <tr>
                                         <th>ID</th>
                                         <th>Nom</th>
                                         <th>Prénom</th>
                                         <th>Email</th>
                                         <th>Role</th>
                                         <th>Etat</th>
                                     </tr>
                                 </thead>
                                 
                                 <tbody>
                                 
									<tr th:each="utilisateur : ${listeUtilisateurs}"
									style="cursor: pointer"
     								th:onclick="'javascript:rowClicked(\'' + ${utilisateur.id} + '\', \'GestionDesUtilisateurs\');'">
										<td th:text="${utilisateur.id}"></td>
										<td th:text="${utilisateur.nom}"> </td>
										<td th:text="${utilisateur.prenom}"> </td>
										<td th:text="${utilisateur.email}"></td>
										<td th:text="${utilisateur.role.nom}"></td>
										<div th:switch="${utilisateur.enabled}"> 
										  <p th:case="true"><td>Activé</td></p>
										  <p th:case="*"><td>Désactivé</td></p> 
										</div>
									</tr>
								</tbody>
                             </table>
                         </div>
                         <div class="ui segment">
                         </div>
                     </div>