<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div class="ui segments" th:fragment="Campagne-Statistiques">
    <div class="ui segment">
        <h5 class="ui header">
            Informations générales
        </h5>
    </div>
    <div class="ui segment">
 			<h4 class="ui horizontal divider header">
           <i class="tag icon"></i>
           Modifier la campagne courante
       		</h4>
            <form class="ui form segment form1" th:action="@{/AjouterCampagneDeTest/{pathParam}(pathParam=${campagneParente.id})}" method="post" th:object="${campagneParente}">
                <div class="two fields">
                    <div class="field">
                        <label>Titre de la campagne</label>
                        <input th:field="*{nom}"  name="" type="text">
                    </div>
                    <div class="field">
						<label>Description de la campagne</label>
						<input type="text" th:field="*{description}" placeholder="Description du projet"	>
					</div>
                </div>
                <center><div class="ui blue positive submit button">Enregistrer</div>
                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ?')" th:href="@{/SupprimerCampagne/{pathParam}(pathParam=${campagneParente.id})}"><div class="ui blue negative submit button">Supprimer</div></a>
                <div class="ui error message"></div></center>
            </form>

		</div>
        
    </div>